@model CMCS_Web_App.Models.User;
@{
    ViewData["Title"] = "Account";
}

<div class="page">
    <div class="wrapper">
        <div class="details-box">
            <h1>Account Details</h1>
            <p>Contact a HR to make changes.</p>
            <div class="input-box-static">
                <input type="text" value="@Model.FirstName" readonly />
                <label>First Name</label>
            </div>
            <div class="input-box-static">
                <input type="text" value="@Model.Surname" readonly />
                <label>Last Name</label>
            </div>
            <div class="input-box-static">
                <input type="email" value="@Model.Email" readonly />
                <label>Email</label>
            </div>
            <div class="input-box-static">
                <input type="text" value="@Model.ContactNumber" readonly />
                <label>Contact Number</label>
            </div>
            <div class="input-box-static">
                <input type="text" value="@Model.Role" readonly />
                <label>Role</label>
            </div>
            @if (@Model.Faculty != null) {
            <div class="input-box-static">
                <input type="text" value="@Model.Faculty" readonly />
                <label>Faculty</label>
            </div>
            }
            <div class="input-box-static">
                <input type="text" value="@Model.Password" readonly />
                <label>Password</label>
            </div>
        </div>
    </div>
</div>
