@model IEnumerable<CMCS_Web_App.Models.UserClaim>

@{
    ViewData["Title"] = "Process Claim";
}

@if ((int)TempData["AccessLevel"] != 3)
{
    <div class="alert alert-danger">
        This page is for Human Resources only.
    </div>
}

@if ((int)TempData["AccessLevel"] == 3)
{
    <div class="page">
        <div class="wrapper">
            <div class="table">
                <h1>Process Approved Claims</h1>
                <p>Process the Approved claims below by generating an invoice for them, so they can be sent for payment processing.</p>
                <table>
                    <tr>
                        <th>Claim ID</th>
                        <th>User ID</th>
                        <th>Lecturer Name</th>
                        <th>Claim Amount</th>
                        <th>Hours Worked</th>
                        <th>Hourly Rate</th>
                        <th>Supporting Doc</th>
                        <th>Invoice</th>
                    </tr>

                    @foreach (var claim in Model)
                    {
                        <tr>
                            <td>@claim.UserClaimId</td>
                            <td>@claim.UserId</td>
                            <td>@claim.User.FirstName @claim.User.Surname</td>
                            <td>R @claim.ClaimAmount</td>
                            <td>@claim.HoursWorked Hrs</td>
                            <td>R @claim.HourlyRate / h</td>
                            <td><a asp-controller="Home" asp-action="DownloadFile" asp-route-id="@claim.UserClaimId">@claim.FileName</a></td>
                            <td>
                                @if (claim.PdfFileData != null)
                                {
                                    <a asp-controller="Home" asp-action="DownloadPdf" asp-route-id="@claim.UserClaimId">Download Invoice</a>
                                }
                                @if (claim.PdfFileData == null)
                                {
                                    <form asp-controller="Home" asp-action="MakePDF" method="post">
                                        <input type="hidden" name="id" value="@claim.UserClaimId" />
                                        <button class="btn btn-invoice" type="submit">Create Invoice</button>
                                    </form>
                                }
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
}


