@model IEnumerable<CMCS_Web_App.Models.UserClaim>

@{
    ViewData["Title"] = "View User Claim";
}
            
@if ((int)TempData["AccessLevel"] != 1)
{
    <div class="alert alert-danger">
        This page is for lecturers to view their claims.
    </div>
}

@if ((int)TempData["AccessLevel"] == 1)
{
    <div class="page">
        <div class="wrapper">
            <div class="table">

                <h1>View All Your Requested Claims</h1>
                <p>View the list of all your claims below.</p>
                <table>
                    <tr>
                        <th>Claim ID</th>
                        <th>Claim Amount</th>
                        <th>Hours Worked</th>
                        <th>Hourly Rate</th>
                        <th>File</th>
                        <th>Claim Status</th>
                    </tr>

                    @foreach (var claim in Model)
                    {
                        <tr>
                            <td>@claim.UserClaimId</td>
                            <td>R @claim.ClaimAmount</td>
                            <td>@claim.HoursWorked Hrs</td>
                            <td>R @claim.HourlyRate / h</td>
                            <td><a asp-controller="Home" asp-action="DownloadFile" asp-route-id="@claim.UserClaimId">@claim.FileName</a></td>
                            <td>
                                @if (claim.ClaimStatus == "Pending")
                                {
                                    <span class="pending">Pending</span>
                                }
                                else if (claim.ClaimStatus == "Approved")
                                {
                                    <span class="approved">Approved</span>
                                }
                                else if (claim.ClaimStatus == "PAID")
                                {
                                    <span class="approved">Approved</span>
                                }
                                else
                                {
                                    <span class="rejected">Rejected</span>
                                }
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
}
